@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h3>Campaign CRUD WEB application by Szymon Dobrzański </h3>
    <h4>Feel free to contact me:  <a href="mailto:szdobrzanski@gmail.com">szdobrzanski@gmail.com</a><br /></h4>
</div>
